@import 'tailwindcss';



:root {
  font-family: 'Geist', sans-serif;
  background-color: #f2f7fe;
}

@theme{
  --color-sipan-green: #00843D;
  --color-sipan-orange: #F26522;
  --color-sipan-yellow: #FDB913;
  --color-sipan-red: #ED1C24;
  --color-sipan-lightgreen: #E6F2EC;
  --color-sipan-lightorange: #FEF0E8;
}

@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/Geist/Geist-ExtraLight.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/Geist/Geist-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/Geist/Geist-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/Geist/Geist-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/Geist/Geist-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/Geist/Geist-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@layer utilities {
  .animate-highlight {
    animation: highlightFade 2s ease-out;
  }

  @keyframes highlightFade {
    0% {
      border: 3px solid #78a38d;
    }
    100% {
      background-color: white;
    }
  }
}
